---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import UseCases from "../components/UseCases.astro";
import Tools from "../components/Tools.astro";
import Skills from "../components/Skills.astro";
import QuickStart from "../components/QuickStart.astro";
import Architecture from "../components/Architecture.astro";
import TokenSavings from "../components/TokenSavings.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navigation />
  <main>
    <Hero />
    <Features />
    <UseCases />
    <Tools />
    <Skills />
    <QuickStart />
    <Architecture />
    <TokenSavings />
  </main>
  <Footer />
</Layout>
